services:
  api:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./app:/code/app

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: alharis
      POSTGRES_PASSWORD: alharis123
      POSTGRES_DB: alharis_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
